<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql://192.168.57.5:3306/NT02484</property>
		<property name="connection.username">yogesh.sapkal</property>
		<property name="connection.password">pass@123</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="show_sql">false</property>

		<property name="hibernate.cache.use_second_level_cache">false</property>

		<mapping resource="com/Icici_Bank/persistent/userDB101.hbm.xml"/>
		<mapping resource="com/Icici_Bank/persistent/role101.hbm.xml"/>
		<mapping resource="com/Icici_Bank/persistent/state101.hbm.xml"/>
		<mapping resource="com/Icici_Bank/persistent/city101.hbm.xml"/>
		<mapping resource="com/Icici_Bank/persistent/branch101.hbm.xml"/>
		<mapping resource="com/Icici_Bank/persistent/account101.hbm.xml"/>
		<mapping resource="com/Icici_Bank/persistent/address101.hbm.xml"/>
		<mapping resource="com/Icici_Bank/persistent/payee101.hbm.xml"/>
		<mapping resource="com/Icici_Bank/persistent/transaction101.hbm.xml"/>

	</session-factory>

</hibernate-configuration>